# Python
__pycache__/
*.pyc
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Données volumineuses
data/radar_data.nc
# ou si vous utilisez data/raw:
data/raw/
data/processed/

# Modèles (checkpoints)
models/*.pt
models/*.pth
models/*.h5

# Logs, sorties temporaires
logs/
*.log

# IDE / éditeur (si besoin)
.vscode/
.idea/
